ansible==2.9.20            # mostly for duploades (ElasticSearch) at this point
boto3==1.34.40             # clouds deploy and logs management
Fabric3==1.14.post1        # vmware.py and driver.py
paramiko==2.12.0           # drundocker.py
pyasn1_modules==0.2.5      # awscloud.py
pyOpenSSL==22.1.0          # awscloud.py
pytz==2023.3.post1         # logs management (dcopylogs, monitor.py, dparselog)
requests==2.31.0           # logs management (dcopylogs, monitor.py, dparselog)
six==1.16.0
sqlparse==0.4.2            # integrity.py

# used in duploades (ElasticSearch)
elasticsearch==7.6.0
urllib3==1.26.12

# prerequisites with native code
# cryptography
# cysystemd==1.5.4

# development
Sphinx== 7.2.6
sphinx_rtd_theme==2.0.0
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-websupport==1.2.7
