{
   "Version":"2012-10-17",
   "Id":"DeployUtilsPolicy",
   "Statement":[
      {
         "Sid": "Stmt1426564203455",
         "Effect": "Allow",
         "Principal": {
           "AWS": [
              "arn:aws:iam::{{aws_account}}:role/{{tag_prefix}}{{castle_gate_name}}",
              "arn:aws:iam::{{aws_account}}:role/{{tag_prefix}}{{vault_name}}",
              "arn:aws:iam::{{aws_account}}:role/{{tag_prefix}}{{courtyard_name}}",
              "arn:aws:iam::{{aws_account}}:role/{{tag_prefix}}{{kitchen_door_name}}",
              "arn:aws:iam::{{aws_account}}:role/{{tag_prefix}}{{watch_tower_name}}"
            ]
         },
         "Action": [
           "s3:GetObjectAcl",
           "s3:GetObject"
         ],
         "Resource": "arn:aws:s3:::{{tag_prefix}}deployutils/*"
      },
      {
         "Sid":"DenyUnEncryptedObjectUploads",
         "Effect":"Deny",
         "Principal":{
           "AWS" : [
              "arn:aws:iam::{{aws_account}}:user/{{deployuser}}"
           ]
         },
         "Action":"s3:PutObject",
         "Resource":"arn:aws:s3:::{{tag_prefix}}deployutils/*",
         "Condition":{
            "StringNotEquals":{
               "s3:x-amz-server-side-encryption":"AES256"
            }
         }
      }
   ]
}

