#!/bin/bash
#
# live databases machine

set -e

# Mount encrypted volume with databases content as /var.
mount /dev/xvdf /var

# Install identities. Since we don't have Internet connection here, we copy
# identities from the encrypted volume that was previously mounted.
cp -rf /var/pki /etc

# Complete configuration with runtime information.
/tmp/ansible/bin/python /tmp/ansible/reps/drop/src/dservices.py -DetcDir=/etc -DldapHost=dbs.{{tag_prefix}}ec2.internal -DcompanyDomain={{company_domain}} -DldapPasswordHash="{{ldapPasswordHash}}" -Dvpc_cidr={{vpc_cidr}} /tmp/ansible/reps/drop/share/profiles/databases.xml
