---
- name: Create 'castle-gate' role
  local_action:
    module: command
      aws --region {{aws_region}} iam create-role --role-name {{tag_prefix}}{{castle_gate_name}} --assume-role-policy-document "file://assume-role-policy.json"

- name: Create 'castle-gate' instance profile
  local_action:
    module: command
      aws --region {{aws_region}} iam create-instance-profile --instance-profile-name {{tag_prefix}}{{castle_gate_name}}-profile

- name: Adding 'castle-gate' role to instance-profile
  local_action:
    module: command
      aws --region {{aws_region}} iam add-role-to-instance-profile --role-name {{tag_prefix}}{{castle_gate_name}} --instance-profile-name {{tag_prefix}}{{castle_gate_name}}-profile
