#!/bin/bash
#
# configure a stock Fedora to serve as a front-end web reverse proxy.

set -x
set -e

# Install necessary packages to bootstrap configuration
/usr/bin/dnf -y update
/usr/bin/dnf -y install docker awscli

# Ansible will be waiting for this server to respond
# before it continues with registering the AMI.
cd /home/fedora
sudo -u fedora echo "DONE" > index.html
/usr/bin/python3 -m http.server 80
