#!/bin/bash
#
# configure a stock Fedora to serve as a front-end web reverse proxy.

set -x
set -e

siteTop=/var/www/djaoapp

# Install necessary packages to bootstrap configuration
/usr/bin/dnf -y update
/usr/bin/dnf -y install docker awscli git-core python-virtualenv

# Clone drop github repository in /tmp/ansible and run dservices scripts
mkdir -p ${siteTop}/reps
virtualenv --system-site-packages ${siteTop}
cd ${siteTop}
git clone {{remote_drop_repo}} reps/drop
bin/python reps/drop/src/dservices.py -DetcDir=/etc -DldapHost=dbs.{{tag_prefix}}ec2.internal -DdomainName={{domain_name}} reps/drop/share/profiles/webfront.xml

# Ansible will be waiting for this server to respond
# before it continues with registering the AMI.
echo "DONE" > index.html
#/usr/bin/python3 -m http.server 80
