#!/bin/bash
#
# configure a stock Fedora to serve as a SSH-accessible sally port

set -x
set -e

siteTop=/home/fedora/workspace

# Install necessary packages to bootstrap configuration
/usr/bin/dnf -y install git-core python-virtualenv

# Clone drop github repository in /tmp/ansible and run dservices scripts
mkdir -p ${siteTop}/reps
virtualenv -p python3 --system-site-packages ${siteTop}
cd ${siteTop}
git clone {{remote_drop_repo}} reps/drop
bin/python reps/drop/src/dservices.py -DetcDir=/etc -DldapHost=ldaps.{{tag_prefix}}ec2.internal -DsshPort={{ssh_port}} reps/drop/share/profiles/sally.xml

# Ansible will be waiting for this server to respond
# before it continues with registering the AMI.
/usr/bin/python3 -m http.server 80
