#!/bin/bash
# webfront instance configuration

# Install git and package in instance
yum -y install git python-pip

# Install awcli and Download keys, certificates, etc.
pip install awscli
aws s3 cp s3://{{tag_prefix}}deployutils/identities/web.internal / --recursive

# Clone drop github repository in /tmp/ansible and
# Run dservices scripts
mkdir -p /tmp/ansible && cd /tmp/ansible && git clone {{remote_src_top}}/drop.git
virtualenv --system-site-packages /tmp/ansible
/tmp/ansible/bin/python /tmp/ansible/drop/src/dservices.py -DdomainName={{domain_name}} /tmp/ansible/drop/share/tero/webfront.xml
