#!/bin/bash

# Install packages to bootstrap configuration of instance
yum -y install git python-pip

# Download and prepare the configuration tool called dservices
mkdir -p /tmp/ansible/reps
virtualenv /tmp/ansible
git clone {{remote_src_top}}/drop.git /tmp/ansible/reps/drop
/tmp/ansible/bin/pip install awscli

# Download identities used by the instance
/tmp/ansible/bin/aws s3 cp s3://{{tag_prefix}}deployutils/identities/dev.internal / --recursive

# Run configuration tool with appropriate profile
/tmp/ansible/bin/python /tmp/ansible/reps/drop/src/dservices.py /tmp/ansible/reps/drop/share/tero/backstage.xml
