#!/bin/bash
#
# databases machine

set -e

if [ ! -d /mnt/encvol ] ; then
    # Mount encrypted volume as /var after copying previous content over.
    mkfs.ext4 -m 0 /dev/xvdf
    mkdir -p /mnt/encvol
    mount /dev/xvdf /mnt/encvol
    cd /var && cp -ax * /mnt/encvol
    cd /
    umount /dev/xvdf
    mv /var /var.old
    mkdir -p /var
    mount /dev/xvdf /var
fi

# Install git and package in instance
yum -y install git python-virtualenv python-pip

# Install awcli and Download keys, certificates, etc.
pip install awscli
aws s3 cp s3://{{tag_prefix}}deployutils/identities/web.internal / --recursive

# Clone drop github repository in /tmp/ansible and
# Run dservices scripts
# (XXX Use repo on GitHub because we don't want to install gitosis keys.)
#   - defines ``domainName`` such that sssd is configured properly.
mkdir -p /tmp/ansible && cd /tmp/ansible && git clone {{remote_dservices_repo}}
virtualenv-2.7 --system-site-packages /tmp/ansible
/tmp/ansible/bin/python /tmp/ansible/drop/src/dservices.py -DldapPasswordHash="{{ldapPasswordHash}}" -DdomainName={{domain_name}} /tmp/ansible/drop/share/tero/databases.xml
