#!/bin/bash

# Install git package in instance
yum -y install git

#Install pip package
yum -y install python-pip

#Install awcli
pip install awscli

# Clone drop github repository in /tmp/ansible/
mkdir /tmp/ansible/ && cd /tmp/ansible/ && git clone {{remote_src_top}}/drop.git

# Upload ldap certificates
aws s3 cp s3://{{tag_prefix}}deployutils/identities/dbs.internal / --recursive

# Run dservices scripts
sudo chmod -R 755 /tmp/ansible/drop/
sudo /tmp/ansible/drop/src/dservices.py /tmp/ansible/drop/share/tero/databases.xml

echo "###### Copy /var content in encrypted vol and mount encrypted vol to /var"

cd var
cp -ax * /dev/sdf
cd /
mv var var.old
umount /dev/sdf 
mount /dev/sdf /var
