{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "s3:GetObject",
                "s3:GetObjectAcl",
                "s3:ListBucket"
            ],
            "Resource": [
                "arn:aws:s3:::{{deployutils_bucket}}",
                "arn:aws:s3:::{{deployutils_bucket}}/*"
            ]
        }
    ]
}
