#!/bin/bash
#
# Configuration of an app instance.

set -x
set -e

sysconfigFile=/var/www/djaoapp/etc/sysconfig/djagent

# Configures the agent
echo "QUEUE_URL={{queue_url}}" > ${sysconfigFile}
echo "LOGS_STORAGE_LOCATION={{logs_storage_location}}" >> ${sysconfigFile}
chmod 600 ${sysconfigFile}

# Restarts the agent
/usr/bin/systemctl disable djaoapp.service
/usr/bin/systemctl stop djaoapp.service
/usr/bin/systemctl start djagent.service
/usr/bin/systemctl enable djagent.service
