#!/bin/bash
#
# Configure a sally instance after boot-up

set -x
set -e

siteTop=/usr/local
OWNER=ec2-user

# Install necessary public packages to bootstrap configuration
if [ -f /usr/bin/dnf ]; then
    OWNER=fedora
    [ -f /usr/bin/aws ] || /usr/bin/dnf -y install awscli
    [ -f /usr/bin/bzip2 ] || /usr/bin/dnf -y install bzip2
    [ -f /usr/bin/make ] || /usr/bin/dnf -y install make
else
    if [ "$(grep "Amazon" /etc/system-release)" != "" ]; then
        [ -f /usr/bin/git ] || /usr/bin/yum -y install git
        # We have to enable the EPEL repo to install ssmtp,
        # fail2ban, syslog-ng-libdbi and syslog-ng.
        if [ ! -f /etc/yum.repos.d/epel.repo ]; then
            amazon-linux-extras install epel -y
        fi
    fi
    if [ "$(grep "CentOS" /etc/system-release)" != "" ]; then
        OWNER=centos
        if [ ! -f /usr/bin/python3 ]; then
            if [ ! -f /etc/yum.repos.d/epel.repo ]; then
                /usr/bin/yum -y install epel-release
            fi
        fi
        # Without making the fast cache, python36 is sometimes not found
        # on mirror (ex: mirrors.cat.pdx.edu)
        /usr/bin/yum makecache fast
        /usr/bin/yum -y install python36 python36-libs python36-devel python36-pip python-boto3
    fi
    [ -f /usr/bin/aws ] || /usr/bin/yum -y install awscli
    [ -f /usr/bin/bzip2 ] || /usr/bin/yum -y install bzip2
    [ -f /usr/bin/make ] || /usr/bin/yum -y install make
    [ -e /usr/lib64/python2.7/site-packages/selinux ] || /usr/bin/yum -y install libselinux-python
fi
VIRTUALENV_RUN="/usr/bin/python3 -m venv --system-site-packages"

# download keys, certificates, etc.
/usr/bin/aws s3 cp {{identities_url}} / --recursive

# defaults to downloading drop so we can install the webfront.xml profile.
if [ ! -f ${siteTop}/bin/dservices ]; then
    /usr/bin/mkdir -p ${siteTop}/reps
    $VIRTUALENV_RUN ${siteTop}
    echo "installTop=${siteTop}" > ${siteTop}/dws.mk
    /usr/bin/git clone {{remote_drop_repo}} ${siteTop}/reps/drop
    pushd ${siteTop}/reps/drop
    ${siteTop}/bin/pip install -r requirements.txt
    make install
    popd
fi

${siteTop}/bin/dservices -DetcDir=/etc -DsshPort={{ssh_port}} -DlogsLocation={{logs_storage_location}}{% if ldap_host %} -DldapHost={{ldap_host}}{% endif %}{% if company_domain %} -DcompanyDomain={{company_domain}}{% endif %} reps/drop/share/profiles/sally.xml

# disable what we don't need
/usr/bin/systemctl stop rpcbind
/usr/bin/systemctl disable rpcbind
/usr/bin/systemctl stop postfix.service
/usr/bin/systemctl disable postfix.service
