#!/bin/bash
#
# Configure a sally instance after boot-up

set -x
set -e

siteTop=/usr/local
OWNER=ec2-user
INSTALL_PACKAGES=/usr/bin/dnf

# Install necessary public packages to bootstrap configuration
if [ "$(grep "Amazon Linux release 2 " /etc/system-release)" != "" ]; then
    INSTALL_PACKAGES=/usr/bin/yum
    # We need to insure SELinux is enabled which is not the case
    # with the default AmazonLinux2 images.
    if [ "$(sestatus)" =~ .*disabled ] ; then
        /usr/bin/yum install selinux-policy selinux-policy-targeted policycoreutils-python
        sed -i 's/SELINUX=\(\w\w*\)/SELINUX=enforcing/g' /etc/selinux/config
        sed -i 's/GRUB_CMDLINE_LINUX_DEFAULT="\(.*\)"/GRUB_CMDLINE_LINUX_DEFAULT="\1 selinux=1 security=selinux"/' /etc/default/grub
        /usr/sbin/grub2-mkconfig -o /boot/grub2/grub.cfg
        touch /.autorelabel
        # XXX we will need to reboot with the `reboot` command.
    fi
    # We have to enable the EPEL repo to install podofo.
    if [ ! -f /etc/yum.repos.d/epel.repo ]; then
        amazon-linux-extras install epel -y
    fi
    [ -e /usr/lib64/python2.7/site-packages/selinux ] || $INSTALL_PACKAGES -y install libselinux-python
fi
if [ "$(grep "CentOS" /etc/system-release)" != "" ]; then
    OWNER=centos
    INSTALL_PACKAGES=/usr/bin/yum
    if [ ! -f /usr/bin/python3 ]; then
        if [ ! -f /etc/yum.repos.d/epel.repo ]; then
            /usr/bin/yum -y install epel-release
        fi
    fi
    # Without making the fast cache, python36 is sometimes not found on mirror
    # (ex: mirrors.cat.pdx.edu)
    /usr/bin/yum makecache fast
    /usr/bin/yum -y install python36 python36-libs python36-devel python36-pip python-boto3
    [ -e /usr/lib64/python2.7/site-packages/selinux ] || $INSTALL_PACKAGES -y install libselinux-python
fi

[ -f /usr/bin/aws ] || $INSTALL_PACKAGES -y install awscli
[ -f /usr/bin/bzip2 ] || $INSTALL_PACKAGES -y install bzip2
[ -f /usr/bin/make ] || $INSTALL_PACKAGES -y install make

VIRTUALENV_RUN="/usr/bin/python3 -m venv --system-site-packages"

# download keys, certificates, etc.
/usr/bin/aws s3 cp {{identities_url}} / --recursive

# defaults to downloading drop so we can install the webfront.xml profile.
if [ ! -f ${siteTop}/bin/dservices ]; then
    /usr/bin/mkdir -p ${siteTop}/reps
    $VIRTUALENV_RUN ${siteTop}
    echo "installTop=${siteTop}" > ${siteTop}/dws.mk
    /usr/bin/git clone {{remote_drop_repo}} ${siteTop}/reps/drop
    pushd ${siteTop}/reps/drop
    ${siteTop}/bin/pip install -r requirements.txt
    make install
    popd
fi

cd ${siteTop}
${siteTop}/bin/dservices -DetcDir=/etc -DsshPort={{ssh_port}} -DlogsLocation={{logs_storage_location}}{% if ldap_host %} -DldapHost={{ldap_host}}{% endif %}{% if company_domain %} -DcompanyDomain={{company_domain}}{% endif %} ${siteTop}/reps/drop/share/profiles/sally.xml

# disable what we don't need
/usr/bin/systemctl stop rpcbind
/usr/bin/systemctl disable rpcbind
/usr/bin/systemctl stop postfix.service
/usr/bin/systemctl disable postfix.service
